AquariaToolkit/Web References/AquariaWebReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="urn:aquariasoap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:aquariasoap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:aquariasoap">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_angelfish_idRequest" />
  <wsdl:message name="get_angelfish_idResponse">
    <wsdl:part name="return" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="get_bettafish_idRequest" />
  <wsdl:message name="get_bettafish_idResponse">
    <wsdl:part name="return" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="get_danio_idRequest" />
  <wsdl:message name="get_danio_idResponse">
    <wsdl:part name="return" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="get_commongoldfish_idRequest" />
  <wsdl:message name="get_commongoldfish_idResponse">
    <wsdl:part name="return" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="get_fancygoldfish_idRequest" />
  <wsdl:message name="get_fancygoldfish_idResponse">
    <wsdl:part name="return" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="get_gourami_idRequest" />
  <wsdl:message name="get_gourami_idResponse">
    <wsdl:part name="return" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="get_guppy_idRequest" />
  <wsdl:message name="get_guppy_idResponse">
    <wsdl:part name="return" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="get_molly_idRequest" />
  <wsdl:message name="get_molly_idResponse">
    <wsdl:part name="return" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="get_fcm_notcompatible_numberRequest" />
  <wsdl:message name="get_fcm_notcompatible_numberResponse">
    <wsdl:part name="return" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="get_fcm_usuallycompatible_numberRequest" />
  <wsdl:message name="get_fcm_usuallycompatible_numberResponse">
    <wsdl:part name="return" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="get_fcm_verycompatible_numberRequest" />
  <wsdl:message name="get_fcm_verycompatible_numberResponse">
    <wsdl:part name="return" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="get_halfcylinder_nameRequest" />
  <wsdl:message name="get_halfcylinder_nameResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_quartercylinder_nameRequest" />
  <wsdl:message name="get_quartercylinder_nameResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_massRequest">
    <wsdl:part name="volume" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="get_massResponse">
    <wsdl:part name="return" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="get_rectangle_volumeRequest">
    <wsdl:part name="length" type="xsd:double" />
    <wsdl:part name="width" type="xsd:double" />
    <wsdl:part name="height" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="get_rectangle_volumeResponse">
    <wsdl:part name="return" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="get_bowfront_volumeRequest">
    <wsdl:part name="length" type="xsd:double" />
    <wsdl:part name="width" type="xsd:double" />
    <wsdl:part name="full_width" type="xsd:double" />
    <wsdl:part name="height" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="get_bowfront_volumeResponse">
    <wsdl:part name="return" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="get_triangleprism_volumeRequest">
    <wsdl:part name="base" type="xsd:double" />
    <wsdl:part name="length" type="xsd:double" />
    <wsdl:part name="height" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="get_triangleprism_volumeResponse">
    <wsdl:part name="return" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="get_cornerpentagon_volumeRequest">
    <wsdl:part name="long_side" type="xsd:double" />
    <wsdl:part name="short_side" type="xsd:double" />
    <wsdl:part name="height" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="get_cornerpentagon_volumeResponse">
    <wsdl:part name="return" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="get_cylinder_volumeRequest">
    <wsdl:part name="diameter" type="xsd:double" />
    <wsdl:part name="height" type="xsd:double" />
    <wsdl:part name="portion_s" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_cylinder_volumeResponse">
    <wsdl:part name="return" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="calculate_electricity_costRequest">
    <wsdl:part name="kwh" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="calculate_electricity_costResponse">
    <wsdl:part name="return" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="calculate_monthlyRequest">
    <wsdl:part name="cost" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="calculate_monthlyResponse">
    <wsdl:part name="return" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="calculate_annualRequest">
    <wsdl:part name="monthly_cost" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="calculate_annualResponse">
    <wsdl:part name="return" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="get_meralco_rateRequest" />
  <wsdl:message name="get_meralco_rateResponse">
    <wsdl:part name="return" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="compare_fish_compatibilityRequest">
    <wsdl:part name="fish1_id" type="xsd:int" />
    <wsdl:part name="fish2_id" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="compare_fish_compatibilityResponse">
    <wsdl:part name="return" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="celsius_to_kelvinRequest">
    <wsdl:part name="celsius" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="celsius_to_kelvinResponse">
    <wsdl:part name="return" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="kelvin_to_celsiusRequest">
    <wsdl:part name="kelvin" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="kelvin_to_celsiusResponse">
    <wsdl:part name="return" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="fahrenheit_to_celsiusRequest">
    <wsdl:part name="fahrenheit" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="fahrenheit_to_celsiusResponse">
    <wsdl:part name="return" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="celsius_to_fahrenheitRequest">
    <wsdl:part name="celsius" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="celsius_to_fahrenheitResponse">
    <wsdl:part name="return" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="fahrenheit_to_kelvinRequest">
    <wsdl:part name="fahrenheit" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="fahrenheit_to_kelvinResponse">
    <wsdl:part name="return" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="kelvin_to_fahrenheitRequest">
    <wsdl:part name="kelvin" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="kelvin_to_fahrenheitResponse">
    <wsdl:part name="return" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="cm3_to_literRequest">
    <wsdl:part name="cm3" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="cm3_to_literResponse">
    <wsdl:part name="return" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="liter_to_cm3Request">
    <wsdl:part name="liter" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="liter_to_cm3Response">
    <wsdl:part name="return" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="liter_to_gallonUSRequest">
    <wsdl:part name="liter" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="liter_to_gallonUSResponse">
    <wsdl:part name="return" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="gallonUS_to_literRequest">
    <wsdl:part name="gallonUS" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="gallonUS_to_literResponse">
    <wsdl:part name="return" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="meter_to_centimeterRequest">
    <wsdl:part name="meter" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="meter_to_centimeterResponse">
    <wsdl:part name="return" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="centimeter_to_meterRequest">
    <wsdl:part name="cm" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="centimeter_to_meterResponse">
    <wsdl:part name="return" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="foot_to_inchRequest">
    <wsdl:part name="foot" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="foot_to_inchResponse">
    <wsdl:part name="return" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="inch_to_footRequest">
    <wsdl:part name="inch" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="inch_to_footResponse">
    <wsdl:part name="return" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="meter_to_footRequest">
    <wsdl:part name="meter" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="meter_to_footResponse">
    <wsdl:part name="return" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="foot_to_meterRequest">
    <wsdl:part name="foot" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="foot_to_meterResponse">
    <wsdl:part name="return" type="xsd:double" />
  </wsdl:message>
  <wsdl:portType name="Aquaria SOAP ServicePortType">
    <wsdl:operation name="get_angelfish_id">
      <wsdl:input message="tns:get_angelfish_idRequest" />
      <wsdl:output message="tns:get_angelfish_idResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_bettafish_id">
      <wsdl:input message="tns:get_bettafish_idRequest" />
      <wsdl:output message="tns:get_bettafish_idResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_danio_id">
      <wsdl:input message="tns:get_danio_idRequest" />
      <wsdl:output message="tns:get_danio_idResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_commongoldfish_id">
      <wsdl:input message="tns:get_commongoldfish_idRequest" />
      <wsdl:output message="tns:get_commongoldfish_idResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_fancygoldfish_id">
      <wsdl:input message="tns:get_fancygoldfish_idRequest" />
      <wsdl:output message="tns:get_fancygoldfish_idResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_gourami_id">
      <wsdl:input message="tns:get_gourami_idRequest" />
      <wsdl:output message="tns:get_gourami_idResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_guppy_id">
      <wsdl:input message="tns:get_guppy_idRequest" />
      <wsdl:output message="tns:get_guppy_idResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_molly_id">
      <wsdl:input message="tns:get_molly_idRequest" />
      <wsdl:output message="tns:get_molly_idResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_fcm_notcompatible_number">
      <wsdl:input message="tns:get_fcm_notcompatible_numberRequest" />
      <wsdl:output message="tns:get_fcm_notcompatible_numberResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_fcm_usuallycompatible_number">
      <wsdl:input message="tns:get_fcm_usuallycompatible_numberRequest" />
      <wsdl:output message="tns:get_fcm_usuallycompatible_numberResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_fcm_verycompatible_number">
      <wsdl:input message="tns:get_fcm_verycompatible_numberRequest" />
      <wsdl:output message="tns:get_fcm_verycompatible_numberResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_halfcylinder_name">
      <wsdl:input message="tns:get_halfcylinder_nameRequest" />
      <wsdl:output message="tns:get_halfcylinder_nameResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_quartercylinder_name">
      <wsdl:input message="tns:get_quartercylinder_nameRequest" />
      <wsdl:output message="tns:get_quartercylinder_nameResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_mass">
      <wsdl:input message="tns:get_massRequest" />
      <wsdl:output message="tns:get_massResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_rectangle_volume">
      <wsdl:input message="tns:get_rectangle_volumeRequest" />
      <wsdl:output message="tns:get_rectangle_volumeResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_bowfront_volume">
      <wsdl:input message="tns:get_bowfront_volumeRequest" />
      <wsdl:output message="tns:get_bowfront_volumeResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_triangleprism_volume">
      <wsdl:input message="tns:get_triangleprism_volumeRequest" />
      <wsdl:output message="tns:get_triangleprism_volumeResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_cornerpentagon_volume">
      <wsdl:input message="tns:get_cornerpentagon_volumeRequest" />
      <wsdl:output message="tns:get_cornerpentagon_volumeResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_cylinder_volume">
      <wsdl:input message="tns:get_cylinder_volumeRequest" />
      <wsdl:output message="tns:get_cylinder_volumeResponse" />
    </wsdl:operation>
    <wsdl:operation name="calculate_electricity_cost">
      <wsdl:input message="tns:calculate_electricity_costRequest" />
      <wsdl:output message="tns:calculate_electricity_costResponse" />
    </wsdl:operation>
    <wsdl:operation name="calculate_monthly">
      <wsdl:input message="tns:calculate_monthlyRequest" />
      <wsdl:output message="tns:calculate_monthlyResponse" />
    </wsdl:operation>
    <wsdl:operation name="calculate_annual">
      <wsdl:input message="tns:calculate_annualRequest" />
      <wsdl:output message="tns:calculate_annualResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_meralco_rate">
      <wsdl:input message="tns:get_meralco_rateRequest" />
      <wsdl:output message="tns:get_meralco_rateResponse" />
    </wsdl:operation>
    <wsdl:operation name="compare_fish_compatibility">
      <wsdl:input message="tns:compare_fish_compatibilityRequest" />
      <wsdl:output message="tns:compare_fish_compatibilityResponse" />
    </wsdl:operation>
    <wsdl:operation name="celsius_to_kelvin">
      <wsdl:input message="tns:celsius_to_kelvinRequest" />
      <wsdl:output message="tns:celsius_to_kelvinResponse" />
    </wsdl:operation>
    <wsdl:operation name="kelvin_to_celsius">
      <wsdl:input message="tns:kelvin_to_celsiusRequest" />
      <wsdl:output message="tns:kelvin_to_celsiusResponse" />
    </wsdl:operation>
    <wsdl:operation name="fahrenheit_to_celsius">
      <wsdl:input message="tns:fahrenheit_to_celsiusRequest" />
      <wsdl:output message="tns:fahrenheit_to_celsiusResponse" />
    </wsdl:operation>
    <wsdl:operation name="celsius_to_fahrenheit">
      <wsdl:input message="tns:celsius_to_fahrenheitRequest" />
      <wsdl:output message="tns:celsius_to_fahrenheitResponse" />
    </wsdl:operation>
    <wsdl:operation name="fahrenheit_to_kelvin">
      <wsdl:input message="tns:fahrenheit_to_kelvinRequest" />
      <wsdl:output message="tns:fahrenheit_to_kelvinResponse" />
    </wsdl:operation>
    <wsdl:operation name="kelvin_to_fahrenheit">
      <wsdl:input message="tns:kelvin_to_fahrenheitRequest" />
      <wsdl:output message="tns:kelvin_to_fahrenheitResponse" />
    </wsdl:operation>
    <wsdl:operation name="cm3_to_liter">
      <wsdl:input message="tns:cm3_to_literRequest" />
      <wsdl:output message="tns:cm3_to_literResponse" />
    </wsdl:operation>
    <wsdl:operation name="liter_to_cm3">
      <wsdl:input message="tns:liter_to_cm3Request" />
      <wsdl:output message="tns:liter_to_cm3Response" />
    </wsdl:operation>
    <wsdl:operation name="liter_to_gallonUS">
      <wsdl:input message="tns:liter_to_gallonUSRequest" />
      <wsdl:output message="tns:liter_to_gallonUSResponse" />
    </wsdl:operation>
    <wsdl:operation name="gallonUS_to_liter">
      <wsdl:input message="tns:gallonUS_to_literRequest" />
      <wsdl:output message="tns:gallonUS_to_literResponse" />
    </wsdl:operation>
    <wsdl:operation name="meter_to_centimeter">
      <wsdl:input message="tns:meter_to_centimeterRequest" />
      <wsdl:output message="tns:meter_to_centimeterResponse" />
    </wsdl:operation>
    <wsdl:operation name="centimeter_to_meter">
      <wsdl:input message="tns:centimeter_to_meterRequest" />
      <wsdl:output message="tns:centimeter_to_meterResponse" />
    </wsdl:operation>
    <wsdl:operation name="foot_to_inch">
      <wsdl:input message="tns:foot_to_inchRequest" />
      <wsdl:output message="tns:foot_to_inchResponse" />
    </wsdl:operation>
    <wsdl:operation name="inch_to_foot">
      <wsdl:input message="tns:inch_to_footRequest" />
      <wsdl:output message="tns:inch_to_footResponse" />
    </wsdl:operation>
    <wsdl:operation name="meter_to_foot">
      <wsdl:input message="tns:meter_to_footRequest" />
      <wsdl:output message="tns:meter_to_footResponse" />
    </wsdl:operation>
    <wsdl:operation name="foot_to_meter">
      <wsdl:input message="tns:foot_to_meterRequest" />
      <wsdl:output message="tns:foot_to_meterResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Aquaria SOAP ServiceBinding" type="tns:Aquaria SOAP ServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="get_angelfish_id">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/get_angelfish_id" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_bettafish_id">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/get_bettafish_id" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_danio_id">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/get_danio_id" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_commongoldfish_id">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/get_commongoldfish_id" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_fancygoldfish_id">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/get_fancygoldfish_id" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_gourami_id">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/get_gourami_id" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_guppy_id">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/get_guppy_id" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_molly_id">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/get_molly_id" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_fcm_notcompatible_number">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/get_fcm_notcompatible_number" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_fcm_usuallycompatible_number">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/get_fcm_usuallycompatible_number" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_fcm_verycompatible_number">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/get_fcm_verycompatible_number" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_halfcylinder_name">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/get_halfcylinder_name" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_quartercylinder_name">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/get_quartercylinder_name" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_mass">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/get_mass" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_rectangle_volume">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/get_rectangle_volume" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_bowfront_volume">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/get_bowfront_volume" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_triangleprism_volume">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/get_triangleprism_volume" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_cornerpentagon_volume">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/get_cornerpentagon_volume" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_cylinder_volume">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/get_cylinder_volume" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculate_electricity_cost">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/calculate_electricity_cost" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculate_monthly">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/calculate_monthly" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculate_annual">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/calculate_annual" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_meralco_rate">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/get_meralco_rate" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="compare_fish_compatibility">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/compare_fish_compatibility" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="celsius_to_kelvin">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/celsius_to_kelvin" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kelvin_to_celsius">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/kelvin_to_celsius" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fahrenheit_to_celsius">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/fahrenheit_to_celsius" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="celsius_to_fahrenheit">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/celsius_to_fahrenheit" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fahrenheit_to_kelvin">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/fahrenheit_to_kelvin" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kelvin_to_fahrenheit">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/kelvin_to_fahrenheit" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cm3_to_liter">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/cm3_to_liter" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="liter_to_cm3">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/liter_to_cm3" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="liter_to_gallonUS">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/liter_to_gallonUS" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gallonUS_to_liter">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/gallonUS_to_liter" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="meter_to_centimeter">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/meter_to_centimeter" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="centimeter_to_meter">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/centimeter_to_meter" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="foot_to_inch">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/foot_to_inch" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inch_to_foot">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/inch_to_foot" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="meter_to_foot">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/meter_to_foot" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="foot_to_meter">
      <soap:operation soapAction="http://192.168.1.20/aquariasoap/service.php/foot_to_meter" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Aquaria SOAP Service">
    <wsdl:port name="Aquaria SOAP ServicePort" binding="tns:Aquaria SOAP ServiceBinding">
      <soap:address location="http://192.168.1.20/aquariasoap/service.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>