AquariaToolkit/Web References/AquariaWebService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="urn:aquariasoap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:aquariasoap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:aquariasoap">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_angelfish_idRequest" />
  <wsdl:message name="get_angelfish_idResponse">
    <wsdl:part name="return" type="xsd:integer" />
  </wsdl:message>
  <wsdl:message name="get_bettafish_idRequest" />
  <wsdl:message name="get_bettafish_idResponse">
    <wsdl:part name="return" type="xsd:integer" />
  </wsdl:message>
  <wsdl:message name="get_danio_idRequest" />
  <wsdl:message name="get_danio_idResponse">
    <wsdl:part name="return" type="xsd:integer" />
  </wsdl:message>
  <wsdl:message name="get_commongoldfish_idRequest" />
  <wsdl:message name="get_commongoldfish_idResponse">
    <wsdl:part name="return" type="xsd:integer" />
  </wsdl:message>
  <wsdl:message name="get_fancygoldfish_idRequest" />
  <wsdl:message name="get_fancygoldfish_idResponse">
    <wsdl:part name="return" type="xsd:integer" />
  </wsdl:message>
  <wsdl:message name="get_gourami_idRequest" />
  <wsdl:message name="get_gourami_idResponse">
    <wsdl:part name="return" type="xsd:integer" />
  </wsdl:message>
  <wsdl:message name="get_guppy_idRequest" />
  <wsdl:message name="get_guppy_idResponse">
    <wsdl:part name="return" type="xsd:integer" />
  </wsdl:message>
  <wsdl:message name="get_molly_idRequest" />
  <wsdl:message name="get_molly_idResponse">
    <wsdl:part name="return" type="xsd:integer" />
  </wsdl:message>
  <wsdl:message name="get_fcm_notcompatible_numberRequest" />
  <wsdl:message name="get_fcm_notcompatible_numberResponse">
    <wsdl:part name="return" type="xsd:integer" />
  </wsdl:message>
  <wsdl:message name="get_fcm_usuallycompatible_numberRequest" />
  <wsdl:message name="get_fcm_usuallycompatible_numberResponse">
    <wsdl:part name="return" type="xsd:integer" />
  </wsdl:message>
  <wsdl:message name="get_fcm_verycompatible_numberRequest" />
  <wsdl:message name="get_fcm_verycompatible_numberResponse">
    <wsdl:part name="return" type="xsd:integer" />
  </wsdl:message>
  <wsdl:message name="get_massRequest">
    <wsdl:part name="xsd:double" type="xsd:volume" />
  </wsdl:message>
  <wsdl:message name="get_massResponse">
    <wsdl:part name="return" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="get_rectangle_volumeRequest">
    <wsdl:part name="xsd:double" type="xsd:height" />
  </wsdl:message>
  <wsdl:message name="get_rectangle_volumeResponse">
    <wsdl:part name="return" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="get_bowfront_volumeRequest">
    <wsdl:part name="xsd:double" type="xsd:height" />
  </wsdl:message>
  <wsdl:message name="get_bowfront_volumeResponse">
    <wsdl:part name="return" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="get_triangleprism_volumeRequest">
    <wsdl:part name="xsd:double" type="xsd:height" />
  </wsdl:message>
  <wsdl:message name="get_triangleprism_volumeResponse">
    <wsdl:part name="return" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="get_cornerpentagon_volumeRequest">
    <wsdl:part name="xsd:double" type="xsd:height" />
  </wsdl:message>
  <wsdl:message name="get_cornerpentagon_volumeResponse">
    <wsdl:part name="return" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="get_cylinder_volumeRequest">
    <wsdl:part name="xsd:double" type="xsd:height" />
    <wsdl:part name="xsd:string" type="xsd:portion_s" />
  </wsdl:message>
  <wsdl:message name="get_cylinder_volumeResponse">
    <wsdl:part name="return" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="calculate_onetime_costRequest">
    <wsdl:part name="xsd:double" type="xsd:cost" />
    <wsdl:part name="0" type="xsd:integer" />
  </wsdl:message>
  <wsdl:message name="calculate_onetime_costResponse">
    <wsdl:part name="return" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="calculate_recurring_costRequest">
    <wsdl:part name="xsd:double" type="xsd:month_freq" />
  </wsdl:message>
  <wsdl:message name="calculate_recurring_costResponse">
    <wsdl:part name="return" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="compare_fish_compatibilityRequest">
    <wsdl:part name="xsd:integer" type="xsd:fish2_id" />
  </wsdl:message>
  <wsdl:message name="compare_fish_compatibilityResponse">
    <wsdl:part name="return" type="xsd:integer" />
  </wsdl:message>
  <wsdl:portType name="Aquaria SOAP ServicePortType">
    <wsdl:operation name="get_angelfish_id">
      <wsdl:input message="tns:get_angelfish_idRequest" />
      <wsdl:output message="tns:get_angelfish_idResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_bettafish_id">
      <wsdl:input message="tns:get_bettafish_idRequest" />
      <wsdl:output message="tns:get_bettafish_idResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_danio_id">
      <wsdl:input message="tns:get_danio_idRequest" />
      <wsdl:output message="tns:get_danio_idResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_commongoldfish_id">
      <wsdl:input message="tns:get_commongoldfish_idRequest" />
      <wsdl:output message="tns:get_commongoldfish_idResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_fancygoldfish_id">
      <wsdl:input message="tns:get_fancygoldfish_idRequest" />
      <wsdl:output message="tns:get_fancygoldfish_idResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_gourami_id">
      <wsdl:input message="tns:get_gourami_idRequest" />
      <wsdl:output message="tns:get_gourami_idResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_guppy_id">
      <wsdl:input message="tns:get_guppy_idRequest" />
      <wsdl:output message="tns:get_guppy_idResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_molly_id">
      <wsdl:input message="tns:get_molly_idRequest" />
      <wsdl:output message="tns:get_molly_idResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_fcm_notcompatible_number">
      <wsdl:input message="tns:get_fcm_notcompatible_numberRequest" />
      <wsdl:output message="tns:get_fcm_notcompatible_numberResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_fcm_usuallycompatible_number">
      <wsdl:input message="tns:get_fcm_usuallycompatible_numberRequest" />
      <wsdl:output message="tns:get_fcm_usuallycompatible_numberResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_fcm_verycompatible_number">
      <wsdl:input message="tns:get_fcm_verycompatible_numberRequest" />
      <wsdl:output message="tns:get_fcm_verycompatible_numberResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_mass">
      <wsdl:input message="tns:get_massRequest" />
      <wsdl:output message="tns:get_massResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_rectangle_volume">
      <wsdl:input message="tns:get_rectangle_volumeRequest" />
      <wsdl:output message="tns:get_rectangle_volumeResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_bowfront_volume">
      <wsdl:input message="tns:get_bowfront_volumeRequest" />
      <wsdl:output message="tns:get_bowfront_volumeResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_triangleprism_volume">
      <wsdl:input message="tns:get_triangleprism_volumeRequest" />
      <wsdl:output message="tns:get_triangleprism_volumeResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_cornerpentagon_volume">
      <wsdl:input message="tns:get_cornerpentagon_volumeRequest" />
      <wsdl:output message="tns:get_cornerpentagon_volumeResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_cylinder_volume">
      <wsdl:input message="tns:get_cylinder_volumeRequest" />
      <wsdl:output message="tns:get_cylinder_volumeResponse" />
    </wsdl:operation>
    <wsdl:operation name="calculate_onetime_cost">
      <wsdl:input message="tns:calculate_onetime_costRequest" />
      <wsdl:output message="tns:calculate_onetime_costResponse" />
    </wsdl:operation>
    <wsdl:operation name="calculate_recurring_cost">
      <wsdl:input message="tns:calculate_recurring_costRequest" />
      <wsdl:output message="tns:calculate_recurring_costResponse" />
    </wsdl:operation>
    <wsdl:operation name="compare_fish_compatibility">
      <wsdl:input message="tns:compare_fish_compatibilityRequest" />
      <wsdl:output message="tns:compare_fish_compatibilityResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Aquaria SOAP ServiceBinding" type="tns:Aquaria SOAP ServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="get_angelfish_id">
      <soap:operation soapAction="http://localhost/aquariasoap/service.php/get_angelfish_id" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_bettafish_id">
      <soap:operation soapAction="http://localhost/aquariasoap/service.php/get_bettafish_id" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_danio_id">
      <soap:operation soapAction="http://localhost/aquariasoap/service.php/get_danio_id" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_commongoldfish_id">
      <soap:operation soapAction="http://localhost/aquariasoap/service.php/get_commongoldfish_id" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_fancygoldfish_id">
      <soap:operation soapAction="http://localhost/aquariasoap/service.php/get_fancygoldfish_id" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_gourami_id">
      <soap:operation soapAction="http://localhost/aquariasoap/service.php/get_gourami_id" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_guppy_id">
      <soap:operation soapAction="http://localhost/aquariasoap/service.php/get_guppy_id" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_molly_id">
      <soap:operation soapAction="http://localhost/aquariasoap/service.php/get_molly_id" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_fcm_notcompatible_number">
      <soap:operation soapAction="http://localhost/aquariasoap/service.php/get_fcm_notcompatible_number" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_fcm_usuallycompatible_number">
      <soap:operation soapAction="http://localhost/aquariasoap/service.php/get_fcm_usuallycompatible_number" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_fcm_verycompatible_number">
      <soap:operation soapAction="http://localhost/aquariasoap/service.php/get_fcm_verycompatible_number" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_mass">
      <soap:operation soapAction="http://localhost/aquariasoap/service.php/get_mass" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_rectangle_volume">
      <soap:operation soapAction="http://localhost/aquariasoap/service.php/get_rectangle_volume" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_bowfront_volume">
      <soap:operation soapAction="http://localhost/aquariasoap/service.php/get_bowfront_volume" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_triangleprism_volume">
      <soap:operation soapAction="http://localhost/aquariasoap/service.php/get_triangleprism_volume" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_cornerpentagon_volume">
      <soap:operation soapAction="http://localhost/aquariasoap/service.php/get_cornerpentagon_volume" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_cylinder_volume">
      <soap:operation soapAction="http://localhost/aquariasoap/service.php/get_cylinder_volume" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculate_onetime_cost">
      <soap:operation soapAction="http://localhost/aquariasoap/service.php/calculate_onetime_cost" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculate_recurring_cost">
      <soap:operation soapAction="http://localhost/aquariasoap/service.php/calculate_recurring_cost" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="compare_fish_compatibility">
      <soap:operation soapAction="http://localhost/aquariasoap/service.php/compare_fish_compatibility" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Aquaria SOAP Service">
    <wsdl:port name="Aquaria SOAP ServicePort" binding="tns:Aquaria SOAP ServiceBinding">
      <soap:address location="http://localhost/aquariasoap/service.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>